.TodoApp {
	background-color: #dcff83;
	color: #00314c;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: center;
	width: 100vw;
	height: 100vh;
	font-family: 'Quicksand', sans-serif;
}