input {
	margin-left: 10px;
	font-family: 'Quicksand', sans-serif;
	font-size: 20px;
}

input[type="text"]:focus {
	outline: none;
}
input[type="submit"] {
	border-radius: 5px;
	background: #00314c;
	color: #dcff83;
	font-family: 'Quicksand', sans-serif;
}